# Bazel configuration flags

build --enable_runfiles

# https://docs.bazel.build/versions/main/best-practices.html#using-the-bazelrc-file
try-import %workspace%/user.bazelrc

# The requirements.bzl entry_point functions aren't supported under bzlmod.
# They are replaced by py_console_script_binary, which already has tests
build --noexperimental_enable_bzlmod
