# NB: Last matching rule takes precedence in CODEOWNERS.

* @rickeylev

# Directory containing the Gazelle extension and Go code.
/gazelle/ @f0rmiga
/examples/build_file_generation/ @f0rmiga

# Toolchains
/python/repositories.bzl @f0rmiga
/python/private/toolchains_repo.bzl @f0rmiga
/python/tests/toolchains/ @f0rmiga

# pip_parse related code
/python/pip_install/ @hrfuller
