# For bazel-in-bazel testing
# Trick bazel into treating BUILD files under examples/* as being regular files
# This lets us glob() up all the files inside the examples to make them inputs to tests
# (Note, we cannot use `common --deleted_packages` because the bazel version command doesn't support it)
# To update these lines, run tools/bazel_integration_test/update_deleted_packages.sh
build --deleted_packages=examples/pip/boto,examples/pip/extras,examples/pip/helloworld
query --deleted_packages=examples/pip/boto,examples/pip/extras,examples/pip/helloworld

test --test_output=errors
