#set( $nl = "
" )
#set( $pn = $providerInfo.providerName)
#set( $pnl = $pn.replaceAll("[.]", "_").toLowerCase())
{.starlark-object}
#[[##]]# ${providerName}

#set( $hasFields = false)
{.starlark-signature}
${providerInfo.providerName}(## Comment to consume newline
#foreach ($field in $providerInfo.getFieldInfoList())
#set( $hasFields = true)
[${field.name}](#${pnl}_${field.name})## Comment to consume newline
#if($foreach.hasNext),
#end
#end
)

$providerInfo.docString

#if ($hasFields)
**FIELDS** [¶](#${pnl}_fields){.headerlink}

#foreach ($field in $providerInfo.getFieldInfoList())
#set($link = $pnl + "_" + $field.name)
:[${field.name}[¶](#$link){.headerlink}]{.span}: []{#$link}
  $field.docString.replaceAll("$nl", "$nl  ")
#end
#end
