pkginfo==1.5.0.1
toml==0.10.1
packaging==20.4
requests==2.24.0
configparser==5.0.0
lockfile==0.12.2
pyparsing==2.4.7
cachecontrol[filecache]==0.12.6

pip==9.0.3
setuptools==44.1.1
wheel==0.35.1

# For tests
mock==2.0.0