common --experimental_enable_bzlmod

coverage --java_runtime_version=remotejdk_11

test --test_output=errors --enable_runfiles

# Windows requires these for multi-python support:
build --enable_runfiles

startup --windows_enable_symlinks
