name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: bazelbuild/setup-bazelisk@v1
      - name: check git state is clean
        run: git status --porcelain
      - name: bazel test //...
        env:
          # Bazelisk will download bazel to here.
          XDG_CACHE_HOME: ~/.cache/bazel-repo
        run: |
          # Test the repository.
          bazel --bazelrc=.github/workflows/ci.bazelrc --bazelrc=.bazelrc test --config=release //...
          # Copy the release artifacts to /tmp/aspect/release.
          rm -rf /tmp/aspect/release
          bazel --bazelrc=.github/workflows/ci.bazelrc --bazelrc=.bazelrc run --config=release //release -- /tmp/aspect/release
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: true
          files: /tmp/aspect/release/*
