name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: bazelbuild/setup-bazelisk@v1
      - name: Build release artifacts
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            >&2 echo "ERROR: the git state is not clean, aborting build..."
            exit 1
          fi
          rm -rf /tmp/aspect/release
          bazel --bazelrc=.github/workflows/ci.bazelrc --bazelrc=.bazelrc run --config=release //release -- /tmp/aspect/release
          if /tmp/aspect/release/aspect-linux_amd64 version | grep '(with local changes)'; then
            >&2 echo "ERROR: the release contained changes in the git state and the release will not be produced"
            exit 1
          fi
      - name: Create GitHub draft release and upload artifacts
        uses: softprops/action-gh-release@v1
        with:
          prerelease: true
          draft: true
          files: /tmp/aspect/release/*
